@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a style="color:red;" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>

<a href="/Teacher/Update/@Model.TeacherId">Update</a>

<h2>@Model.TeacherFirstName @Model.TeacherLastName</h2>
<p>ID in the school database: @Model.TeacherId</p>
<p>Employee number: @Model.EmployeeNumber</p>
<p>Hire date: @Model.HireDate</p>
<p>Salary: $@Model.Salary</p>

@*Initiative question 2: Output classes taught by a particular teacher*@ 
<p>Courses: @Model.ClassName</p>